* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

.cursor {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #fad2ef;
    position: fixed;
    z-index: 8;
    mix-blend-mode: difference;
    transition: all 0.1s linear;
}

#main {
    background-color: #000;
    color: #fff;
    padding: 0 3vw;

}

/* page 1 style is here  */
.page1 {
    min-height: 100vh;
    width: 100%;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: rgb(16, 87, 87); */
    height: 50px;
    padding: 0px 50px;
}

.navpart1 {
    display: flex;
    align-items: center;
    gap: 20px;
}

.navpart1 h4:nth-child(1) {
    text-decoration: underline;
}

.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
}

.page1 h1,
.page1 h2 {
    font-weight: 400;
    letter-spacing: 6px;

}

.page1 h1 {
    font-size: 7vw;
    margin-top: 15vh;
    margin-left: 15vw;
}

.page1 h2 {
    font-size: 7vw;
    margin-left: 30vw;
}

.page1 video {
    width: 50%;
    margin-top: 10vh;

    /* make center  */
    position: relative;
    left: 50%;
    transform: translate(-50%);

}


/* page 2 style is here  */

.page2 {
    min-height: 100vh;
    width: 100%;
}

.page2 h1 {
    font-size: 7vw;
    font-weight: 400;
    margin-top: 15vh;
}

.page2-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60vh;
    padding: 0 9vh;
    /* background-color: red; */
}

.page2-left {
    width: 50%;
}

.page2-right {
    width: 30%;
}

.page2-right p {
    margin-bottom: 2rem;
}

.page2-right a {
    padding: 0.7rem 2rem;
    border: 2px solid #000;
    color: #000000;
}

.page2-right a:hover {
    padding: 0.7rem 2rem;
    border: 2px solid #ff0000;
    color: red;
}

/* page 3 style is here  */
.page3 h1 {
    color: #000;
}

.page4 {
    height: 100vh;
}